<main>
  <div class="container">
    <div class="table">
      <ng-container><p>Imie</p>
      <p>Nazwisko</p>
      <p>Telefon</p>
      <p>Kategoria</p>
      <button (click)="toggleAdd = !toggleAdd" [disabled]="token == ''" (click)="ngOnInit()" >+</button>
      </ng-container>
      @for (contact of contactList; track $index) {
        <ng-container>
        <p >{{contact.Name}} </p>
        <p >{{contact.LastName}}</p>
        <p>{{contact.Phone}} </p>
        <p>{{contact.Category}} </p>
        <button (click)="toggleEdit = !toggleEdit; number = $index" (click)="ngOnInit()">More</button>
      </ng-container>
      }
      <app-form *ngIf="toggleEdit" [contact]="contactList[number]"></app-form>
      <app-add-user *ngIf="toggleAdd"></app-add-user>
    </div>
    <div class="login">
      <p *ngIf="token != ''">Jestes zalogowany!</p>
      <form *ngIf="token == ''">
        <input type="email" #loginEmail placeholder="Email">
        <input type="password" #loginPassword placeholder="Haslo">
        <button (click)="login(loginEmail.value,loginPassword.value)" type="button">Zaloguj</button>
        <p *ngIf="loginErr != '' ">{{loginErr}}</p>
      </form>
    </div>

  </div>
</main>


<router-outlet />
