<main>
  <div class="container">
    <div class="table">
      <ng-container><p>Imie</p>
      <p>Nazwisko</p>
      <p>Email</p>
      <p>Telefon</p>
      <p>Kategoria</p>
      <p>Podkategoria</p>
      <p>Data urodzenia</p>
      <p>Haslo</p>
      </ng-container>
      <button>+</button>
      @for (contact of contactList; track $index) {
        <ng-container><input value={{contact.Name}} #NewFirstName>
        <input value={{contact.LastName}} #NewLastName>
        <input value={{contact.Email}} #NewEmail>
        <input value={{contact.Phone}} #NewPhone type="number">
        <select #NewCategory>
          <option value={{contact.Category}} disabled selected>{{contact.Category}}</option>
          <option value="sluzbowy">sluzbowy</option>
          <option value="prywatny">prywatny</option>
          <option value="inny">inny</option>
        </select>
        <input #NewCategorySecondary *ngIf="">
          <select #NewCategorySecondary>
            <option value="szef" *ngIf="NewCategory.value == 'sluzbowy';">szef</option>
            <option value="klient" *ngIf="NewCategory.value == 'sluzbowy';">klient</option>
            <option value="rodzina" *ngIf="NewCategory.value == 'prywatny';">rodzina</option>
            <option value="znajomy" *ngIf="NewCategory.value == 'prywatny';">znajomy</option>
            <option value="znajomy" *ngIf="NewCategory.value != 'prywatny' && NewCategory.value != 'sluzbowy';">znajomy</option>
          </select>
        <input value={{contact.DateOfBirth}} #NewDate>
        <input value="" placeholder="********" type="password" #NewPassword>
        <button (click)="sendEditRequest(this.contact, NewFirstName.value,NewLastName.value,NewEmail.value,NewPhone.value,NewCategory.value, NewCategorySecondary.value, NewDate.value, NewPassword.value)">Edit</button>     
      </ng-container>
      }
    </div>
    
    <div class="form">
      <input type="text" name="Name" placeholder="Imie" #Name>
      <input type="text" name="LastName" placeholder="Nazwisko" #LastName>
      <input type="email" name="Email" placeholder="Email" #Email>
      <input type="text" name="Phone" placeholder="Numer telefonu" #Phone>
      <select #Category>
        <option value="sluzbowy">sluzbowy</option>
        <option value="prywatny">prywatny</option>
        <option value="inny">inny</option>
      </select>
      <input type="text" name="CategorySecondary" placeholder="" #CategorySecondary>
      <input type="date" name="DateOfBirth" placeholder="Data urodzenia" #DateOfBirth>
      <input type="password" placeholder="Haslo" #Password>
      <input type="password" placeholder="Powtorz Haslo" #PasswordCheck>
      <button (click)="sendAddRequest(Name.value, LastName.value, Email.value, Phone.value, Category.value, CategorySecondary.value, DateOfBirth.value, Password.value, PasswordCheck.value)">Dodaj</button>
    </div>
    <div class="login">
      <input type="email" #loginEmail placeholder="Email">
      <input type="password" #loginPassword placeholder="Haslo">
      <button (click)="login(loginEmail.value,loginPassword.value)">Zaloguj</button>
    </div>
  </div>
</main>


<router-outlet />
