<main>
    <div>
        <label>Nazwisko</label>
        <input [disabled]="token == ''" value={{contact.LastName}} #NewLastName>
        <label>Email</label>
        <input [disabled]="token == ''" value={{contact.Email}} #NewEmail>
        <label>Phone</label>
        <input [disabled]="token == ''" value={{contact.Phone}} #NewPhone type="number">
        <label>Imie</label>
        <input [disabled]="token == ''" value={{contact.Name}} #NewFirstName>
        <label>Kategoria</label>
        <select [disabled]="token == ''" #NewCategory (change)="ngOnInit()">
          <option value="sluzbowy">sluzbowy</option>
          <option value="prywatny">prywatny</option>
          <option value="inny">inny</option>
        </select>
        <label>Podkategoria</label>
        <select [disabled]="token == ''" #NewCategorySecondary>
            <option value="szef" *ngIf="NewCategory.value == 'sluzbowy'">szef</option>
            <option value="Wspolpracownik" *ngIf="NewCategory.value == 'sluzbowy'">Wspolpracownik</option>
            <option value="znajomy" *ngIf="NewCategory.value == 'prywatny'">znajomy</option>
            <option value="rodzina" *ngIf="NewCategory.value == 'prywatny'">rodzina</option>
            <option value="rodzina" *ngIf="NewCategory.value != 'prywatny' && NewCategory.value != 'sluzbowy'">inny</option>
        </select>
        <label>Data urodzenia</label>
        <input [disabled]="token == ''" value={{contact.DateOfBirth}} #NewDate>
        <label>Haslo</label>
        <input [disabled]="token == ''" value="" placeholder="********" type="password" #NewPassword>
        <button [disabled]="token == ''" (click)="sendEditRequest(this.contact, NewFirstName.value,NewLastName.value,NewEmail.value,NewPhone.value,NewCategory.value, NewCategorySecondary.value, NewDate.value, NewPassword.value)">Edit</button>
    </div>
</main>
<router-outlet />